################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Kenkata_Adm_Products/Kenkata_Adm_Products/obj/Debug/net5.0/RazorDeclaration/Pages
