<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://apl2products.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/d1fc951c-5a7d-4bfd-ad06-a71bd4efa933/resourceGroups/APL2/providers/Microsoft.Web/sites/apl2Products</ResourceId>
    <UserName>$apl2Products</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://apl2products.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>