.items[b-pbrwj2bgeu] {
    height: 100%;
    max-width: 1140px !important;
}
/* filter */
a:link[b-pbrwj2bgeu] {
    text-decoration: none;
}

a:hover[b-pbrwj2bgeu] {
    color: #20D3C2;
}

.active[b-pbrwj2bgeu] {
    color: #20D3C2;
}

.bg-active[b-pbrwj2bgeu] {
    color: white;
    background-color: #20D3C2;
}

.products > .items[b-pbrwj2bgeu] {
    display: grid;
    grid-template-columns: 285px 855px;
    grid-template-rows: auto;
    gap: 0px 0px;
    grid-template-areas:
        "filter product-items";
}

    .products > .items > div[b-pbrwj2bgeu] {
        margin: 15px;
    }

.dropdown-menu[b-pbrwj2bgeu] {
    width: 255px !important;
    border: 0;
    padding: 0 !important;
}

.filter-btn[b-pbrwj2bgeu] {
    color: #20D3C2 !important;
    background-color: #0E153D;
}

.filter-row[b-pbrwj2bgeu] {
    font-family: 'Roboto', sans-serif;
    color: #0E153D;
}

.row[b-pbrwj2bgeu], .col[b-pbrwj2bgeu] {
    padding: 0 !important;
    margin: 0 !important;
}

.dropdown-menu > div > p[b-pbrwj2bgeu] {
    margin-top: 30px;
    color: #20D3C2;
    font-weight: bold;
}

.filter-row > div[b-pbrwj2bgeu] {
    margin-top: 10px !important;
}

.square[b-pbrwj2bgeu], .color-square[b-pbrwj2bgeu] {
    width: 21px;
    height: 21px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square[b-pbrwj2bgeu] {
    border: 1px solid #E3E3E3;
}

.color-name[b-pbrwj2bgeu] {
    padding-left: 10px !important;
}

.fa-check[b-pbrwj2bgeu] {
    color: white;
}

.on-sale[b-pbrwj2bgeu], .in-stock[b-pbrwj2bgeu] {
    padding-left: 10px !important;
}

.product-items[b-pbrwj2bgeu] {
    grid-area: product-items;
}

.filter[b-pbrwj2bgeu] {
    grid-area: filter;
}

@media screen and (min-width: 768px) {
    .filter-btn[b-pbrwj2bgeu] {
        visibility: hidden;
    }

    .dropdown-menu[b-pbrwj2bgeu] {
        display: block;
    }
}

@media screen and (max-width: 768px) {
    .products > .items[b-pbrwj2bgeu] {
        display: flex;
        flex-direction: column;
    }

    .btn-group[b-pbrwj2bgeu] {
        width: 300px;
    }

    .filter[b-pbrwj2bgeu], .product-items[b-pbrwj2bgeu] {
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .dropdown-menu[b-pbrwj2bgeu] {
        width: 300px !important;
        border: 0;
        padding: 0 15px 15px 15px !important;
    }
}

/* products-items */

.product-items[b-pbrwj2bgeu] {
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.item[b-pbrwj2bgeu] {
    margin: 8.5px;
    display: flex;
    flex-direction: column;
    width: 255px;
    border-radius: 6px;
    background-color: #EEEEEE;
}

.item-name-price[b-pbrwj2bgeu] {
    display: flex;
    align-items: center;
    border-radius: 0 0 6px 6px;
    background-color: #0E153D;
    color: white;
    height: 46px;
    font-family: 'Roboto', sans-serif;
}

.item-name[b-pbrwj2bgeu] {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding-left: 15px;
    width: 75%;
}

.item-buy[b-pbrwj2bgeu] {
    border-left: 1px solid rgb(255, 255, 255);
    height: 46px;
    width: 25%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.fa-cart-plus:hover[b-pbrwj2bgeu] {
    color: #20D3C2
}

.item-image > div[b-pbrwj2bgeu] {
    position: absolute;
    width: 255px;
    padding: 10px;
    display: flex;
    justify-content: end;
}

.item-price[b-pbrwj2bgeu] {
    width: 45px;
    line-height: 45px;
    border-radius: 50%;
    text-align: center;
    font-size: 16px;
    background-color: #20D3C2;
    color: #ffffff;
}

.bg-gray[b-pbrwj2bgeu] {
    background-color: gray;
}

.bg-red[b-pbrwj2bgeu] {
    background-color: red;
}

.bg-green[b-pbrwj2bgeu] {
    background-color: green;
}

.bg-orange[b-pbrwj2bgeu] {
    background-color: orange;
}

.bg-brown[b-pbrwj2bgeu] {
    background-color: brown;
}
