*[b-bkxwp7unbd] {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body[b-bkxwp7unbd] {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #57647C;
}

.shopping-cart[b-bkxwp7unbd] {
    display: grid;
    grid-template-rows: auto 140px 1660px;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
}

.showcase[b-bkxwp7unbd] {
    grid-area: 1 / 1 / 2 / 2;
    background-color: #0E153D;
}

.items[b-bkxwp7unbd] {
    height: 100%;
    width: 1140px !important;
}

.showcase > .items > div[b-bkxwp7unbd] {
    width: 100%;
}

#theme-color[b-bkxwp7unbd] {
    color: #20D3C2;
}

.shoppingcart-text[b-bkxwp7unbd], .first-arrow-right[b-bkxwp7unbd] {
    color: #20D3C2;
    font-size: 24px;
    font-weight: 500;
    margin-left: 2rem;
}

.checkout-text[b-bkxwp7unbd], .order-complete-text[b-bkxwp7unbd], .second-arrow-right[b-bkxwp7unbd] {
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 500;
    margin-left: 2rem;
}

@media screen and (max-width: 768px) {
    .shoppingcart-text[b-bkxwp7unbd], .checkout-text[b-bkxwp7unbd], .order-complete-text[b-bkxwp7unbd], .first-arrow-right[b-bkxwp7unbd], .second-arrow-right[b-bkxwp7unbd] {
        font-size: 18px;
    }
}

.shopping[b-bkxwp7unbd] {
    padding-top: 100px;
}

.products-header[b-bkxwp7unbd] {
    color: #0E153D;
    font-size: 18px;
    font-weight: 700;
}

.header-border[b-bkxwp7unbd] {
    color: #20D3C2;
}

#numOfItems .numOfItems[b-bkxwp7unbd] {
    width: 20px;
}

.plusbutton .minusbutton[b-bkxwp7unbd] {
    background-color: #FFFFFF;
}

.text[b-bkxwp7unbd] {
    padding-top: 45px;
}

.have-code[b-bkxwp7unbd] {
    margin-top: 15px;
    margin-bottom: 15px;
}

.coupon-code[b-bkxwp7unbd] {
    border: #E3E3E3 dotted;
    border-radius: 6px;
    width: 445px;
    margin-top: 2fr;
    margin-bottom: 2fr;
    padding-top: 1fr;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.coupon-text[b-bkxwp7unbd] {
    font-size: 14px;
    font-weight: 400;
    border: hidden;
    margin-left: 10px;
}

.coupon-input[b-bkxwp7unbd] {
    position: relative;
    border: #E3E3E3 solid 1px;
    border-radius: 19px;
    height: 46px;
    margin: 20px;
}

.apply-coupon-btn[b-bkxwp7unbd] {
    position: absolute;
    right: 0;
    background-color: #20D3C2;
    font-size: 16px;
    font-weight: 400;
    width: 150px;
    height: 38px;
    padding: 5px;
    border-radius: 19px;
    text-align: center;
}

.button-text[b-bkxwp7unbd] {
    color: #FFFFFF;
    font-size: 16px;
    text-align: center;
}

.update-cart-btn[b-bkxwp7unbd] {
    background-color: #0E153D;
    font-size: 18px;
    font-weight: 500;
    width: 178px;
    height: 54px;
    padding: 15px;
    border-radius: 27px;
}

.update-cart-text[b-bkxwp7unbd] {
    color: #FFFFFF;
    font-size: 18px;
    text-align: center;
}

.shopping-total[b-bkxwp7unbd] {
    position: relative;
    border: #0E153D dotted 2px;
    border-radius: 6px;
}

.shopping-total-header[b-bkxwp7unbd] {
    background-color: #0E153D;
    color: #20D3C2;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    border-radius: 6px 6px 0px 0px;
}

.subtotal[b-bkxwp7unbd], .shipping[b-bkxwp7unbd], .total[b-bkxwp7unbd] {
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    align-items: stretch;
    margin: auto;
}

.subtotal-header[b-bkxwp7unbd], .shipping-header[b-bkxwp7unbd], .total-header[b-bkxwp7unbd] {
    color: #0E153D;
    font-size: 16px;
    font-weight: 700;
}

.subtotal-value[b-bkxwp7unbd], .total-value[b-bkxwp7unbd] {
    color: #20D3C2;
    font-size: 16px;
    font-weight: 700;
    position: absolute;
    right: 30px;
}

.shipping-data[b-bkxwp7unbd] {
    text-align: right;
}

.subtotal-divider[b-bkxwp7unbd] {
    color: #E3E3E3;
    font-size: 1px;
    margin-left: 30px;
    margin-right: 30px;
}

.flatrate[b-bkxwp7unbd], .freeshipping[b-bkxwp7unbd], .localpickup[b-bkxwp7unbd] {
    justify-content: right;
}

.flatrate-header[b-bkxwp7unbd], .freeshipping[b-bkxwp7unbd], .localpickup-header[b-bkxwp7unbd], .shipping-to-AL-1[b-bkxwp7unbd] {
    color: #0E153D;
    font-size: 16px;
    font-weight: 400;
}

.flatrate-value[b-bkxwp7unbd], .localpickup-value[b-bkxwp7unbd] {
    color: #20D3C2;
    font-size: 16px;
    font-weight: 400;
}

.shipping-to-AL-2[b-bkxwp7unbd] {
    color: #9b9898;
    font-size: 16px;
    font-weight: 400;
}

.proceed-to-checkout-btn[b-bkxwp7unbd] {
    background-color: #20D3C2;
    width: 290px;
    height: 54px;
    padding: 15px;
    margin-left: 30px;
    margin-bottom: 30px;
    margin-right: 30px;
    border-radius: 27px;
}

.proceed-to-checkout-btn[b-bkxwp7unbd] {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 500;
}
