@page "/"

<div>
    <h1 id="header">Kenkata Produkt Administration - Välj function</h1>
</div>
<div id="inputfields" class="container">
    <div class="d-grid col-6 mx-auto">
        <a class="inputs btn btn-primary" href="/AddProducts" role="button">Lägg till nya produkter</a>
        <a class="inputs btn btn-primary" href="/ListDeleteProducts" role="button">Lista och ta bort produkter</a>
    </div>
</div>
