@page "/listdeleteproducts"

<div>
    <h1 id="header">Kenkata Produkt Administration - Lista och ta bort Produkter</h1>
</div>

<div id="inputfields" class="container">
    <div class="d-grid col-6 mx-auto">
        <input class="inputs btn btn-primary" type="submit" value="Ta bort">
        <a class="inputs btn btn-primary" href="/" role="button">Avbryt</a>
    </div>
    <br />
    <br />

</div>


    @code {

    }
