
.subscribe[b-5k3oshhhla] {
  height: 313px;
  background-color: #F6F6F6;
}
.items[b-5k3oshhhla]{
  height: 100%;
  max-width: 1140px !important;
}
.items>div[b-5k3oshhhla]{
  width: 50%;
  height: 100%;
}
.items>.text[b-5k3oshhhla]{
  
}
.items>.image[b-5k3oshhhla]{
  background-color:#CCCCCC;
}
