@import '';

/* /Pages/Brands.razor.rz.scp.css */

.brands[b-5vne0oaadz] {
  height: 265px;
}
.items[b-5vne0oaadz]{
  height: 100% !important;
  max-width: 1140px !important;
}
/* /Pages/Footer.razor.rz.scp.css */
.footer[b-zytq2b624t] {
  display: grid;
  grid-template-rows: 459px 80px;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  max-width: 1140px !important;
}
.footer-content[b-zytq2b624t] {
  grid-area: 1 / 1 / 2 / 2;
  width: 100%;
  background-color: #0E153D;
}
.footer-bottom[b-zytq2b624t]  {
  grid-area: 2 / 1 / 3 / 2;
  width: 100%;
  background-color: #080C24;
}
/* /Pages/Products.razor.rz.scp.css */
.items[b-pbrwj2bgeu] {
    height: 100%;
    max-width: 1140px !important;
}
/* filter */
a:link[b-pbrwj2bgeu] {
    text-decoration: none;
}

a:hover[b-pbrwj2bgeu] {
    color: #20D3C2;
}

.active[b-pbrwj2bgeu] {
    color: #20D3C2;
}

.bg-active[b-pbrwj2bgeu] {
    color: white;
    background-color: #20D3C2;
}

.products > .items[b-pbrwj2bgeu] {
    display: grid;
    grid-template-columns: 285px 855px;
    grid-template-rows: auto;
    gap: 0px 0px;
    grid-template-areas:
        "filter product-items";
}

    .products > .items > div[b-pbrwj2bgeu] {
        margin: 15px;
    }

.dropdown-menu[b-pbrwj2bgeu] {
    width: 255px !important;
    border: 0;
    padding: 0 !important;
}

.filter-btn[b-pbrwj2bgeu] {
    color: #20D3C2 !important;
    background-color: #0E153D;
}

.filter-row[b-pbrwj2bgeu] {
    font-family: 'Roboto', sans-serif;
    color: #0E153D;
}

.row[b-pbrwj2bgeu], .col[b-pbrwj2bgeu] {
    padding: 0 !important;
    margin: 0 !important;
}

.dropdown-menu > div > p[b-pbrwj2bgeu] {
    margin-top: 30px;
    color: #20D3C2;
    font-weight: bold;
}

.filter-row > div[b-pbrwj2bgeu] {
    margin-top: 10px !important;
}

.square[b-pbrwj2bgeu], .color-square[b-pbrwj2bgeu] {
    width: 21px;
    height: 21px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square[b-pbrwj2bgeu] {
    border: 1px solid #E3E3E3;
}

.color-name[b-pbrwj2bgeu] {
    padding-left: 10px !important;
}

.fa-check[b-pbrwj2bgeu] {
    color: white;
}

.on-sale[b-pbrwj2bgeu], .in-stock[b-pbrwj2bgeu] {
    padding-left: 10px !important;
}

.product-items[b-pbrwj2bgeu] {
    grid-area: product-items;
}

.filter[b-pbrwj2bgeu] {
    grid-area: filter;
}

@media screen and (min-width: 768px) {
    .filter-btn[b-pbrwj2bgeu] {
        visibility: hidden;
    }

    .dropdown-menu[b-pbrwj2bgeu] {
        display: block;
    }
}

@media screen and (max-width: 768px) {
    .products > .items[b-pbrwj2bgeu] {
        display: flex;
        flex-direction: column;
    }

    .btn-group[b-pbrwj2bgeu] {
        width: 300px;
    }

    .filter[b-pbrwj2bgeu], .product-items[b-pbrwj2bgeu] {
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .dropdown-menu[b-pbrwj2bgeu] {
        width: 300px !important;
        border: 0;
        padding: 0 15px 15px 15px !important;
    }
}

/* products-items */

.product-items[b-pbrwj2bgeu] {
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.item[b-pbrwj2bgeu] {
    margin: 8.5px;
    display: flex;
    flex-direction: column;
    width: 255px;
    border-radius: 6px;
    background-color: #EEEEEE;
}

.item-name-price[b-pbrwj2bgeu] {
    display: flex;
    align-items: center;
    border-radius: 0 0 6px 6px;
    background-color: #0E153D;
    color: white;
    height: 46px;
    font-family: 'Roboto', sans-serif;
}

.item-name[b-pbrwj2bgeu] {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding-left: 15px;
    width: 75%;
}

.item-buy[b-pbrwj2bgeu] {
    border-left: 1px solid rgb(255, 255, 255);
    height: 46px;
    width: 25%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.fa-cart-plus:hover[b-pbrwj2bgeu] {
    color: #20D3C2
}

.item-image > div[b-pbrwj2bgeu] {
    position: absolute;
    width: 255px;
    padding: 10px;
    display: flex;
    justify-content: end;
}

.item-price[b-pbrwj2bgeu] {
    width: 45px;
    line-height: 45px;
    border-radius: 50%;
    text-align: center;
    font-size: 16px;
    background-color: #20D3C2;
    color: #ffffff;
}

.bg-gray[b-pbrwj2bgeu] {
    background-color: gray;
}

.bg-red[b-pbrwj2bgeu] {
    background-color: red;
}

.bg-green[b-pbrwj2bgeu] {
    background-color: green;
}

.bg-orange[b-pbrwj2bgeu] {
    background-color: orange;
}

.bg-brown[b-pbrwj2bgeu] {
    background-color: brown;
}
/* /Pages/ProductSlides.razor.rz.scp.css */
*[b-32l2o97oox] {
    box-sizing: border-box;
}

body[b-32l2o97oox] {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #57647C;
}

.items[b-32l2o97oox] {
    height: 100%;
    max-width: 1140px !important;
}

/* filter */
a:link[b-32l2o97oox] {
    text-decoration: none;
}

a:hover[b-32l2o97oox] {
    color: #20D3C2;
}

.active[b-32l2o97oox] {
    color: #20D3C2;
}

.bg-active[b-32l2o97oox] {
    color: white;
    background-color: #20D3C2;
}

.header[b-32l2o97oox] {
    justify-content: center;
}

.wave[b-32l2o97oox] {
    justify-content: center;
    margin-top: 2rem;
}

.youmay[b-32l2o97oox] {
    font-family: "Play", sans-serif;
    font-size: 36px;
    font-weight: bold;
    color: #0E153D;
}

.alsolike[b-32l2o97oox] {
    font-family: "Play", sans-serif;
    font-size: 36px;
    font-weight: bold;
    color: #20D3C2;
}

.slideshow-container[b-32l2o97oox] {
    position: relative;
}

/* Next & previous buttons */
.prev-btn[b-32l2o97oox], .next-btn[b-32l2o97oox] {
    cursor: pointer;
    position: absolute;
    top: 25%;
    width: auto;
    padding: 25px;
    color: #E3E3E3;
    background-color: #FFFFFF;
    border-width: 2px;
    user-select: all;
}

.next-btn[b-32l2o97oox] {
    right: 0;
}

.prev-btn:hover[b-32l2o97oox], next-btn-img:hover[b-32l2o97oox] {
    fill: #20D3C2;
}

.prev-btn-img[b-32l2o97oox]::selection, next-btn-img[b-32l2o97oox]::selection {
    background-color: #20D3C2;
    color: #FFFFFF;
    transform: rotate(180dgr) translateX(180px);
}


/* The dots/bullets/indicators */
.dot[b-32l2o97oox] {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #E3E3E3;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

    .active[b-32l2o97oox], .dot:hover[b-32l2o97oox] {
        background-color: #20D3C2;
    }

.current-slide[b-32l2o97oox] {
    text-align: center;
    margin-top: 2rem;
}

.mySlides[b-32l2o97oox] {
    margin: auto;
    background-color: #F6F6F6;
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1[b-32l2o97oox] {
        width: 8.33%;
    }

    .col-s-2[b-32l2o97oox] {
        width: 16.66%;
    }

    .col-s-3[b-32l2o97oox] {
        width: 25%;
    }

    .col-s-4[b-32l2o97oox] {
        width: 33.33%;
    }

    .col-s-5[b-32l2o97oox] {
        width: 41.66%;
    }

    .col-s-6[b-32l2o97oox] {
        width: 50%;
    }

    .col-s-7[b-32l2o97oox] {
        width: 58.33%;
    }

    .col-s-8[b-32l2o97oox] {
        width: 66.66%;
    }

    .col-s-9[b-32l2o97oox] {
        width: 75%;
    }

    .col-s-10[b-32l2o97oox] {
        width: 83.33%;
    }

    .col-s-11[b-32l2o97oox] {
        width: 91.66%;
    }

    .col-s-12[b-32l2o97oox] {
        width: 100%;
    }
}

@media only screen and (min-width: 1024px) {
    /* For desktop: */
    .col-1[b-32l2o97oox] {
        width: 8.33%;
    }

    .col-2[b-32l2o97oox] {
        width: 16.66%;
    }

    .col-3[b-32l2o97oox] {
        width: 25%;
    }

    .col-4[b-32l2o97oox] {
        width: 33.33%;
    }

    .col-5[b-32l2o97oox] {
        width: 41.66%;
    }

    .col-6[b-32l2o97oox] {
        width: 50%;
    }

    .col-7[b-32l2o97oox] {
        width: 58.33%;
    }

    .col-8[b-32l2o97oox] {
        width: 66.66%;
    }

    .col-9[b-32l2o97oox] {
        width: 75%;
    }

    .col-10[b-32l2o97oox] {
        width: 83.33%;
    }

    .col-11[b-32l2o97oox] {
        width: 91.66%;
    }

    .col-12[b-32l2o97oox] {
        width: 100%;
    }
}
/* /Pages/Shop.razor.rz.scp.css */
*[b-qvnwwmpbdb] {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.shop-content[b-qvnwwmpbdb] {
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
}

.showcase[b-qvnwwmpbdb] {
    grid-area: 1 / 1 / 2 / 2;
    background-color: #0E153D;
}

.items[b-qvnwwmpbdb] {
    height: 100%;
    width: 1140px !important;
}

.showcase > .items > div[b-qvnwwmpbdb] {
    width: 100%;
}

.offer > div[b-qvnwwmpbdb] {
    padding: 15px;
    height: 100%;
}

.image > img[b-qvnwwmpbdb] {
    margin: 15px;
}

.text[b-qvnwwmpbdb] {
    padding-top: 78px;
}

.button > button[b-qvnwwmpbdb] {
    width: 172px;
    height: 54px;
    padding: 15px;
    margin-top: 15px;
    border-radius: 30px;
    background-color: white;
    color: #20D3C2;
    border: 1px solid #20D3C2;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 500;
}

@media (max-width: 768px) {
    .showcase > .items[b-qvnwwmpbdb] {
        flex-direction: column-reverse;
        width: 100%;
    }

    .offer[b-qvnwwmpbdb] {
        padding: 15px;
        justify-content: center;
        align-items: center;
    }

    .text[b-qvnwwmpbdb] {
        padding-top: 0;
    }

    .image[b-qvnwwmpbdb] {
        justify-content: center !important;
    }
}
 h4[b-qvnwwmpbdb] {
    color: #20D3C2;
}
.view-customizer[b-qvnwwmpbdb] {
    grid-area: 2 / 1 / 3 / 2;
    background-color: #F6F6F6;
}

.customizer-items[b-qvnwwmpbdb] {
    width: 855px;
}

.links[b-qvnwwmpbdb] {
    width: 285px;
    margin: 15px;
}

.page-links > li > a[b-qvnwwmpbdb] {
    text-decoration: none;
    color: #0E153D;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.customizer-items > div[b-qvnwwmpbdb] {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    height: 60px;
    border-radius: 6px;
    background-color: #0E153D;
}

    .customizer-items > div:nth-child(odd)[b-qvnwwmpbdb] {
        width: 212px;
        overflow: hidden;
    }

    .customizer-items > div:nth-child(even)[b-qvnwwmpbdb] {
        width: 175px;
    }

.nr-per-page > ul > li > a[b-qvnwwmpbdb] {
    font-size: 16px;
    color: white;
    text-decoration: none;
}

.nr-per-page > ul > li > .active[b-qvnwwmpbdb] {
    color: #20D3C2;
    text-decoration: none;
}

.nr-per-page > ul > li > a:hover[b-qvnwwmpbdb] {
    color: #20D3C2 !important;
    text-decoration: none;
}
.nr-per-page>ul>li[b-qvnwwmpbdb]{
    margin: 15px; 
}

.view-as > div > i[b-qvnwwmpbdb] {
    font-size: 25px;
    color: white;
}

.view-as > div[b-qvnwwmpbdb] {
    margin: 10px;
}

    .view-as > div > i:hover[b-qvnwwmpbdb] {
        color: #20D3C2;
        cursor: pointer;
    }

.sorting > .btn[b-qvnwwmpbdb] {
    border: 0;
    border-radius: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.dropdown-toggle[b-qvnwwmpbdb]::after {
    color: #20D3C2;
    font-size: 25px;
}

.products[b-qvnwwmpbdb] {
    grid-area: 3 / 1 / 4 / 2;
    background-color: blueviolet;
}

    .products > div[b-qvnwwmpbdb] {
        display: grid;
        grid-template-columns: 285px 855px;
        grid-template-rows: auto;
        gap: 0px 0px;
        grid-template-areas:
            "filter product-items";
    }

.product-items[b-qvnwwmpbdb] {
    grid-area: product-items;
}

.filter[b-qvnwwmpbdb] {
    grid-area: filter;
}

@media screen and (min-width: 768px) {
    .dropdown-menu[b-qvnwwmpbdb] {
        display: block;
        width: 285px;
    }
}

@media screen and (max-width: 768px) {
    .products > .items[b-qvnwwmpbdb] {
        display: flex;
        flex-direction: column;
    }

        .products > .items > div[b-qvnwwmpbdb] {
            background-color: #20D3C2 !important;
        }

    .dropdown-menu[b-qvnwwmpbdb] {
        width: 100vh;
    }
}
.play-36-bold[b-qvnwwmpbdb] {
    font-family: "Play", sans-serif;
    font-size: 36px;
    font-weight: bold;
}
/* /Pages/ShopCart.razor.rz.scp.css */
*[b-bkxwp7unbd] {
    box-sizing: border-box;
}

.row[b-bkxwp7unbd]::after {
    content: "";
    clear: both;
    display: table;
}

body[b-bkxwp7unbd] {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #57647C;
}

.shopping-cart[b-bkxwp7unbd] {
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
}

.showcase[b-bkxwp7unbd] {
    grid-area: 1 / 1 / 2 / 2;
    background-color: #0E153D;
}

.items[b-bkxwp7unbd] {
    height: 140px;
    width: 1140px !important;
    align-items: center;
}

.showcase > .items > div[b-bkxwp7unbd] {
    width: 100%;
}

@media (max-width: 768px) {
    .showcase > .items[b-bkxwp7unbd] {
        width: 100%;
    }
}

.shoppingcart-text[b-bkxwp7unbd], .first-arrow-right[b-bkxwp7unbd] {
    color: #20D3C2;
    font-size: 24px;
    font-weight: 500;
    margin-left: 2rem;
}

.checkout-text[b-bkxwp7unbd], .order-complete-text[b-bkxwp7unbd], .second-arrow-right[b-bkxwp7unbd] {
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 500;
    margin-left: 2rem;
}

@media screen and (max-width: 768px) {
    .shoppingcart-text[b-bkxwp7unbd], .checkout-text[b-bkxwp7unbd], .order-complete-text[b-bkxwp7unbd], .first-arrow-right[b-bkxwp7unbd], .second-arrow-right[b-bkxwp7unbd] {
        font-size: 18px;
    }
}

.shopping[b-bkxwp7unbd] {
    padding-top: 100px;
}

.shopping-list[b-bkxwp7unbd] {
    width: 67%;
    float: left;
}

.products-header[b-bkxwp7unbd] {
    color: #0E153D;
    font-size: 18px;
    font-weight: 700;
}

.header-border[b-bkxwp7unbd] {
    color: #20D3C2;
}

#numOfItems .numOfItems[b-bkxwp7unbd] {
    width: 20px;
}

.plusbutton .minusbutton[b-bkxwp7unbd] {
    background-color: #FFFFFF;
}

.have-code[b-bkxwp7unbd] {
    margin-top: 15px;
    margin-bottom: 15px;
}

.coupon-code[b-bkxwp7unbd] {
    border: #E3E3E3 dotted;
    border-radius: 6px;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.coupon-text[b-bkxwp7unbd] {
    font-size: 14px;
    font-weight: 400;
    border: hidden;
    margin-left: 10px;
}

.coupon-input[b-bkxwp7unbd] {
    position: relative;
    border: #E3E3E3 solid 1px;
    border-radius: 19px;
    height: 46px;
    margin: 20px;
}

.apply-coupon-btn[b-bkxwp7unbd] {
    position: absolute;
    right: 0px;
    background-color: #20D3C2;
    font-size: 16px;
    font-weight: 400;
    width: 150px;
    height: 38px;
    padding: 5px;
    border-radius: 19px;
    text-align: center;
}

.button-text[b-bkxwp7unbd] {
    color: #FFFFFF;
    font-size: 16px;
    text-align: center;
}

.update-cart-btn[b-bkxwp7unbd] {
    background-color: #0E153D;
    font-size: 18px;
    font-weight: 500;
    width: 178px;
    border-radius: 27px;
}

.update-cart-text[b-bkxwp7unbd] {
    color: #FFFFFF;
    font-size: 18px;
    text-align: center;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
}

.shopping-total[b-bkxwp7unbd] {
    position: relative;
    border: #0E153D dotted 2px;
    border-radius: 6px;
}

.shopping-total-header[b-bkxwp7unbd] {
    background-color: #0E153D;
    text-align: center;
    border-radius: 6px 6px 0px 0px;
}

.shopping-total-header-text[b-bkxwp7unbd] {
    color: #20D3C2;
    font-size: 24px;
    font-weight: 500;
}

.subtotal[b-bkxwp7unbd], .shipping[b-bkxwp7unbd], .total[b-bkxwp7unbd] {
    padding-top: 10px;
    margin: auto;
}

.subtotal-header[b-bkxwp7unbd], .shipping-header[b-bkxwp7unbd], .total-header[b-bkxwp7unbd] {
    color: #0E153D;
    font-size: 16px;
    font-weight: 700;
    padding-left: 15px;
}

.shipping-header[b-bkxwp7unbd] {
    margin: auto;
}

.subtotal-value[b-bkxwp7unbd], .total-value[b-bkxwp7unbd] {
    color: #20D3C2;
    font-size: 16px;
    font-weight: 700;
    position: absolute;
    right: 25px;
}

.shipping-header[b-bkxwp7unbd] {
    align-items: center;
}

.shipping-data[b-bkxwp7unbd] {
    text-align: right;
}

.subtotal-divider[b-bkxwp7unbd] {
    color: #E3E3E3;
    font-size: 1px;
    margin-left: 30px;
    margin-right: 30px;
}

.flatrate[b-bkxwp7unbd], .freeshipping[b-bkxwp7unbd], .localpickup[b-bkxwp7unbd] {
    justify-content: right;
}

.flatrate-header[b-bkxwp7unbd], .freeshipping[b-bkxwp7unbd], .localpickup-header[b-bkxwp7unbd], .shipping-to-AL-1[b-bkxwp7unbd] {
    color: #0E153D;
    font-size: 16px;
    font-weight: 400;
}

.flatrate-value[b-bkxwp7unbd], .localpickup-value[b-bkxwp7unbd] {
    color: #20D3C2;
    font-size: 16px;
    font-weight: 400;
}

.shipping-to-AL-2[b-bkxwp7unbd] {
    color: #9b9898;
    font-size: 16px;
    font-weight: 400;
}

.proceed-to-checkout-btn[b-bkxwp7unbd] {
    background-color: #20D3C2;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    padding-top: 15px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 5px;
    border-radius: 27px;
}

@media screen and (min-width: 768px) {
    .shopping-list > .shopping-total[b-bkxwp7unbd] {
        display: flex;
        flex-direction: column;
    }
}

/* For mobile phones: */
[class*="col-"][b-bkxwp7unbd] {
    width: 100%;
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1[b-bkxwp7unbd] {
        width: 8.33%;
    }

    .col-s-2[b-bkxwp7unbd] {
        width: 16.66%;
    }

    .col-s-3[b-bkxwp7unbd] {
        width: 25%;
    }

    .col-s-4[b-bkxwp7unbd] {
        width: 33.33%;
    }

    .col-s-5[b-bkxwp7unbd] {
        width: 41.66%;
    }

    .col-s-6[b-bkxwp7unbd] {
        width: 50%;
    }

    .col-s-7[b-bkxwp7unbd] {
        width: 58.33%;
    }

    .col-s-8[b-bkxwp7unbd] {
        width: 66.66%;
    }

    .col-s-9[b-bkxwp7unbd] {
        width: 75%;
    }

    .col-s-10[b-bkxwp7unbd] {
        width: 83.33%;
    }

    .col-s-11[b-bkxwp7unbd] {
        width: 91.66%;
    }

    .col-s-12[b-bkxwp7unbd] {
        width: 100%;
    }
}

@media only screen and (min-width: 769px) {
    /* For desktop: */
    .col-1[b-bkxwp7unbd] {
        width: 8.33%;
    }

    .col-2[b-bkxwp7unbd] {
        width: 16.66%;
    }

    .col-3[b-bkxwp7unbd] {
        width: 25%;
    }

    .col-4[b-bkxwp7unbd] {
        width: 33.33%;
    }

    .col-5[b-bkxwp7unbd] {
        width: 41.66%;
    }

    .col-6[b-bkxwp7unbd] {
        width: 50%;
    }

    .col-7[b-bkxwp7unbd] {
        width: 58.33%;
    }

    .col-8[b-bkxwp7unbd] {
        width: 66.66%;
    }

    .col-9[b-bkxwp7unbd] {
        width: 75%;
    }

    .col-10[b-bkxwp7unbd] {
        width: 83.33%;
    }

    .col-11[b-bkxwp7unbd] {
        width: 91.66%;
    }

    .col-12[b-bkxwp7unbd] {
        width: 100%;
    }
}
/* /Pages/Subscribe.razor.rz.scp.css */

.subscribe[b-8fq3s1kytp] {
  height: 313px;
  background-color: #F6F6F6;
}
.items[b-8fq3s1kytp]{
  height: 100%;
  max-width: 1140px !important;
}
.items>div[b-8fq3s1kytp]{
  width: 50%;
  height: 100%;
}
.items>.text[b-8fq3s1kytp]{
  
}
.items>.image[b-8fq3s1kytp]{
  background-color:#CCCCCC;
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-0hfca73123] {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main[b-0hfca73123] {
    flex: 1;
}

.sidebar[b-0hfca73123] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-0hfca73123] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-0hfca73123]  a, .top-row .btn-link[b-0hfca73123] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-0hfca73123] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-0hfca73123] {
        display: none;
    }

    .top-row.auth[b-0hfca73123] {
        justify-content: space-between;
    }

    .top-row a[b-0hfca73123], .top-row .btn-link[b-0hfca73123] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-0hfca73123] {
        flex-direction: row;
    }

    .sidebar[b-0hfca73123] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-0hfca73123] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .main > div[b-0hfca73123] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-6d79kkfxmv] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-6d79kkfxmv] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-6d79kkfxmv] {
    font-size: 1.1rem;
}

.oi[b-6d79kkfxmv] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-6d79kkfxmv] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-6d79kkfxmv] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-6d79kkfxmv] {
        padding-bottom: 1rem;
    }

    .nav-item[b-6d79kkfxmv]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-6d79kkfxmv]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-6d79kkfxmv]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-6d79kkfxmv] {
        display: none;
    }

    .collapse[b-6d79kkfxmv] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
