.footer {
  display: grid;
  grid-template-rows: 459px 80px;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  max-width: 1140px !important;
}
.footer-content {
  grid-area: 1 / 1 / 2 / 2;
  width: 100%;
  background-color: #0E153D;
}
.footer-bottom  {
  grid-area: 2 / 1 / 3 / 2;
  width: 100%;
  background-color: #080C24;
}
