@page "/listdeleteproducts"

<div id="ListDelProdPage" class="container">
    <div class="header">
        <h1>Kenkata Produkt Administration - Lista och ta bort Produkter</h1>
    </div>
    <ProductList />
</div>
