    <div class="inputfields container">
        @if (products == null)
        {
            <div>No products found.</div>
        }
        else
        {
            <table id="product-list" class="table">
                <thead>
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">Name</th>
                        <th scope="col">CustomerCategory</th>
                        <th scope="col">Season</th>
                        <th scope="col">Category</th>
                        <th scope="col">Brand</th>
                        <th scope="col">Color</th>
                        <th scope="col">Size</th>
                        <th scope="col">InStock</th>
                        <th scope="col">Price</th>
                        <th scope="col">Image</th>
                        <th scope="col">CreateDate</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var product in products)
                    {
                        <ProductItem product="@product" />
                    }
                </tbody>
            </table>
        }
        <br />
        <br />
    </div>


@code {
    public ProductModel[] products;

    protected async Task GetProductsAsync()
    {
        products = await Http.GetFromJsonAsync<ProductModel[]>("http://localhost:7071/api/GetAllProducts");
    }

    protected override void OnInitialized()
    {
        var timer = new Timer(new TimerCallback(_ => InvokeAsync(() => StateHasChanged())), null, 3000, 3000);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await GetProductsAsync();
    }

}
