<div class="products">
        <div class="items mx-auto">
            <div class="filter">
                <div class="btn-group">
                    <button class="btn filter-btn btn-lg  square-dark dropdown-toggle" type="button"
                            data-bs-toggle="dropdown" aria-expanded="true">
                        Filter
                    </button>
                    <div class="dropdown-menu">
                        <!-- Product Categories -->
                        <div class="product-categories">
                            <p>Product Categories</p>
                            <a href="#">
                                <div class="row filter-row">
                                    <div class="col col-11 name">Men's</div>
                                    <div class="col col-1 number-of-items square">18</div>
                                </div>
                            </a>
                            <a href="#">
                                <div class="row filter-row">
                                    <div class="col col-11 name">Women's</div>
                                    <div class="col col-1 number-of-items square">23</div>
                                </div>
                            </a>
                            <a href="#">
                                <div class="row filter-row">
                                    <div class="col col-11 name">Kids</div>
                                    <div class="col col-1 number-of-items square">32</div>
                                </div>
                            </a>
                            <a href="#">
                                <div class="row filter-row">
                                    <div class="col col-11 name">Hats</div>
                                    <div class="col col-1 number-of-items square">12</div>
                                </div>
                            </a>
                            <a href="#">
                                <div class="row filter-row">
                                    <div class="col col-11 name active">Sunglasses</div>
                                    <div class="col col-1 number-of-items square bg-active">15</div>
                                </div>
                            </a>
                            <a href="#">
                                <div class="row filter-row">
                                    <div class="col col-11 name ">Shoes</div>
                                    <div class="col col-1 number-of-items square">12</div>
                                </div>
                            </a>
                            <a href="#">
                                <div class="row filter-row">
                                    <div class="col col-11 name ">Watches</div>
                                    <div class="col col-1 number-of-items square">20</div>
                                </div>
                            </a>
                        </div>
                        <!-- Filter by Color -->
                        <div class="filter-by-color">
                            <p>Filter by Color</p>
                            <a href="#">
                                <div class="row filter-row">
                                    <div class="col col-1 color-square bg-black"></div>
                                    <div class="col col-10 color-name">Black</div>
                                    <div class="col col-1 number-of-items square">12</div>
                                </div>
                            </a>
                            <a href="#">
                                <div class="row filter-row">
                                    <div class="col col-1 color-square bg-gray"></div>
                                    <div class="col col-10 color-name">Gray</div>
                                    <div class="col col-1 number-of-items square">20</div>
                                </div>
                            </a>
                            <a href="#">
                                <div class="row filter-row">
                                    <div class="col col-1 color-square bg-red"></div>
                                    <div class="col col-10 color-name">Red</div>
                                    <div class="col col-1 number-of-items square">18</div>
                                </div>
                            </a>
                            <a href="#">
                                <div class="row filter-row">
                                    <div class="col col-1 color-square bg-green"><i class="fas fa-check"></i></div>
                                    <div class="col col-10 color-name">Green</div>
                                    <div class="col col-1 number-of-items square bg-active">25</div>
                                </div>
                            </a>
                            <a href="#">
                                <div class="row filter-row">
                                    <div class="col col-1 color-square bg-orange"></div>
                                    <div class="col col-10 color-name">Orange</div>
                                    <div class="col col-1 number-of-items square">9</div>
                                </div>
                            </a>
                            <a href="#">
                                <div class="row filter-row">
                                    <div class="col col-1 color-square bg-brown"></div>
                                    <div class="col col-10 color-name">Brown</div>
                                    <div class="col col-1 number-of-items square">7</div>
                                </div>
                            </a>
                        </div>
                        <!-- Filter by Size -->
                        <div class="filter-by-size ">
                            <p>Filter by Size</p>
                            <a href="#">
                                <div class="row filter-row">
                                    <div class="col col-11 name">XS</div>
                                    <div class="col col-1 number-of-items square">18</div>
                                </div>
                            </a>
                            <a href="#">
                                <div class="row filter-row">
                                    <div class="col col-11 name">S</div>
                                    <div class="col col-1 number-of-items square">23</div>
                                </div>
                            </a>
                            <a href="#">
                                <div class="row filter-row">
                                    <div class="col col-11 name">M</div>
                                    <div class="col col-1 number-of-items square">32</div>
                                </div>
                            </a>
                            <a href="#">
                                <div class="row filter-row">
                                    <div class="col col-11 name">L</div>
                                    <div class="col col-1 number-of-items square">12</div>
                                </div>
                            </a>
                            <a href="#">
                                <div class="row filter-row">
                                    <div class="col col-11 name">XL</div>
                                    <div class="col col-1 number-of-items square bg-active">15</div>
                                </div>
                            </a>
                            <a href="#">
                                <div class="row filter-row">
                                    <div class="col col-11 name">xxl</div>
                                    <div class="col col-1 number-of-items square">12</div>
                                </div>
                            </a>
                        </div>
                        <div class="filter-by-brand ">
                            <p>Filter by Brand</p>
                            <div class="row filter-row">
                                <div class="col col-6"><a href=""><img src="images/bexim.png" alt=""></a></div>
                                <div class="col col-6"><a href=""><img src="images/lighton.png" alt=""></a></div>
                                <div class="col col-6"><a href=""><img src="images/dismis.png" alt=""></a></div>
                                <div class="col col-6"><a href=""><img src="images/rosimo.png" alt=""></a></div>
                                <div class="col col-6"><a href=""><img src="images/dallas.png" alt=""></a></div>
                                <div class="col col-6"><a href=""><img src="images/concord.png" alt=""></a></div>
                            </div>
                        </div>
                        <div class="filter-by-brand ">
                            <p>Product Status</p>
                            <div class="row filter-row">
                                <div class="col col-1 name">
                                    <input class="square" type="checkbox" id="on-sale"
                                           name="on-sale" value="On Sale">
                                </div>
                                <div class="col col-11 on-sale">On Sale</div>
                                <div class="col col-1 name">
                                    <input class="square" type="checkbox" id="in-stock"
                                           name="in-stock" value="In Stock">
                                </div>
                                <div class="col col-11 in-stock">In Stock</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-items">
                <div class="item">
                    <div class="item-image">
                        <div class="div">
                            <div class="item-price">
                                12$
                            </div>
                        </div>
                        <img src="/images/shirt.png" alt="">
                    </div>
                    <div class="item-name-price">
                        <div class="item-name">Circle pattern girls shirt</div>
                        <div class="item-buy">
                            <a style="color: inherit;" href="#">
                                <i class="fas fa-cart-plus fa-lg"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="item-image">
                        <div class="div">
                            <div class="item-price">
                                12$
                            </div>
                        </div>
                        <img src="/images/shirt.png" alt="">
                    </div>
                    <div class="item-name-price">
                        <div class="item-name">Circle pattern girls shirt</div>
                        <div class="item-buy">
                            <a style="color: inherit;" href="#">
                                <i class="fas fa-cart-plus fa-lg"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="item-image">
                        <div class="div">
                            <div class="item-price">
                                12$
                            </div>
                        </div>
                        <img src="/images/shirt.png" alt="">
                    </div>
                    <div class="item-name-price">
                        <div class="item-name">Circle pattern girls shirt</div>
                        <div class="item-buy">
                            <a style="color: inherit;" href="#">
                                <i class="fas fa-cart-plus fa-lg"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="item-image">
                        <div class="div">
                            <div class="item-price">
                                12$
                            </div>
                        </div>
                        <img src="/images/shirt.png" alt="">
                    </div>
                    <div class="item-name-price">
                        <div class="item-name">Circle pattern girls shirt</div>
                        <div class="item-buy">
                            <a style="color: inherit;" href="#">
                                <i class="fas fa-cart-plus fa-lg"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="item-image">
                        <div class="div">
                            <div class="item-price">
                                12$
                            </div>
                        </div>
                        <img src="/images/shirt.png" alt="">
                    </div>
                    <div class="item-name-price">
                        <div class="item-name">Circle pattern girls shirt</div>
                        <div class="item-buy">
                            <a style="color: inherit;" href="#">
                                <i class="fas fa-cart-plus fa-lg"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="item-image">
                        <div class="div">
                            <div class="item-price">
                                12$
                            </div>
                        </div>
                        <img src="/images/shirt.png" alt="">
                    </div>
                    <div class="item-name-price">
                        <div class="item-name">Circle pattern girls shirt</div>
                        <div class="item-buy">
                            <a style="color: inherit;" href="#">
                                <i class="fas fa-cart-plus fa-lg"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="item-image">
                        <div class="div">
                            <div class="item-price">
                                12$
                            </div>
                        </div>
                        <img src="/images/shirt.png" alt="">
                    </div>
                    <div class="item-name-price">
                        <div class="item-name">Circle pattern girls shirt</div>
                        <div class="item-buy">
                            <a style="color: inherit;" href="#">
                                <i class="fas fa-cart-plus fa-lg"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="item-image">
                        <div class="div">
                            <div class="item-price">
                                12$
                            </div>
                        </div>
                        <img src="/images/shirt.png" alt="">
                    </div>
                    <div class="item-name-price">
                        <div class="item-name">Circle pattern girls shirt</div>
                        <div class="item-buy">
                            <a style="color: inherit;" href="#">
                                <i class="fas fa-cart-plus fa-lg"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="item-image">
                        <div class="div">
                            <div class="item-price">
                                12$
                            </div>
                        </div>
                        <img src="/images/shirt.png" alt="">
                    </div>
                    <div class="item-name-price">
                        <div class="item-name">Circle pattern girls shirt</div>
                        <div class="item-buy">
                            <a style="color: inherit;" href="#">
                                <i class="fas fa-cart-plus fa-lg"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="item-image">
                        <div class="div">
                            <div class="item-price">
                                12$
                            </div>
                        </div>
                        <img src="/images/shirt.png" alt="">
                    </div>
                    <div class="item-name-price">
                        <div class="item-name">Circle pattern girls shirt</div>
                        <div class="item-buy">
                            <a style="color: inherit;" href="#">
                                <i class="fas fa-cart-plus fa-lg"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="item-image">
                        <div class="div">
                            <div class="item-price">
                                12$
                            </div>
                        </div>
                        <img src="/images/shirt.png" alt="">
                    </div>
                    <div class="item-name-price">
                        <div class="item-name">Circle pattern girls shirt</div>
                        <div class="item-buy">
                            <a style="color: inherit;" href="#">
                                <i class="fas fa-cart-plus fa-lg"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="item-image">
                        <div class="div">
                            <div class="item-price">
                                12$
                            </div>
                        </div>
                        <img src="/images/shirt.png" alt="">
                    </div>
                    <div class="item-name-price">
                        <div class="item-name">Circle pattern girls shirt</div>
                        <div class="item-buy">
                            <a style="color: inherit;" href="#">
                                <i class="fas fa-cart-plus fa-lg"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @code {

    }
