.items {
    height: 100%;
    max-width: 1140px !important;
}
/* filter */
a:link {
    text-decoration: none;
}

a:hover {
    color: #20D3C2;
}

.active {
    color: #20D3C2;
}

.bg-active {
    color: white;
    background-color: #20D3C2;
}

.products > .items {
    display: grid;
    grid-template-columns: 285px 855px;
    grid-template-rows: auto;
    gap: 0px 0px;
    grid-template-areas:
        "filter product-items";
}

    .products > .items > div {
        margin: 15px;
    }

.dropdown-menu {
    width: 255px !important;
    border: 0;
    padding: 0 !important;
}

.filter-btn {
    color: #20D3C2 !important;
    background-color: #0E153D;
}

.filter-row {
    font-family: 'Roboto', sans-serif;
    color: #0E153D;
}

.row, .col {
    padding: 0 !important;
    margin: 0 !important;
}

.dropdown-menu > div > p {
    margin-top: 30px;
    color: #20D3C2;
    font-weight: bold;
}

.filter-row > div {
    margin-top: 10px !important;
}

.square, .color-square {
    width: 21px;
    height: 21px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square {
    border: 1px solid #E3E3E3;
}

.color-name {
    padding-left: 10px !important;
}

.fa-check {
    color: white;
}

.on-sale, .in-stock {
    padding-left: 10px !important;
}

.product-items {
    grid-area: product-items;
}

.filter {
    grid-area: filter;
}

@media screen and (min-width: 768px) {
    .filter-btn {
        visibility: hidden;
    }

    .dropdown-menu {
        display: block;
    }
}

@media screen and (max-width: 768px) {
    .products > .items {
        display: flex;
        flex-direction: column;
    }

    .btn-group {
        width: 300px;
    }

    .filter, .product-items {
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .dropdown-menu {
        width: 300px !important;
        border: 0;
        padding: 0 15px 15px 15px !important;
    }
}

/* products-items */

.product-items {
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.item {
    margin: 8.5px;
    display: flex;
    flex-direction: column;
    width: 255px;
    border-radius: 6px;
    background-color: #EEEEEE;
}

.item-name-price {
    display: flex;
    align-items: center;
    border-radius: 0 0 6px 6px;
    background-color: #0E153D;
    color: white;
    height: 46px;
    font-family: 'Roboto', sans-serif;
}

.item-name {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding-left: 15px;
    width: 75%;
}

.item-buy {
    border-left: 1px solid rgb(255, 255, 255);
    height: 46px;
    width: 25%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.fa-cart-plus:hover {
    color: #20D3C2
}

.item-image > div {
    position: absolute;
    width: 255px;
    padding: 10px;
    display: flex;
    justify-content: end;
}

.item-price {
    width: 45px;
    line-height: 45px;
    border-radius: 50%;
    text-align: center;
    font-size: 16px;
    background-color: #20D3C2;
    color: #ffffff;
}

.bg-gray {
    background-color: gray;
}

.bg-red {
    background-color: red;
}

.bg-green {
    background-color: green;
}

.bg-orange {
    background-color: orange;
}

.bg-brown {
    background-color: brown;
}
