@page "/shopcart"

<div class="shopping-cart">
    <div class="showcase">
        <div class="items d-flex mx-auto justify-content-center container">
            <span class="shoppingcart-text">Shopping Cart</span>
            <span class="first-arrow-right">></span>
            <span class="checkout-text">Check Out</span>
            <span class="second-arrow-right">></span>
            <span class="order-complete-text">Order Complete</span>
        </div>
    </div>

    <div class="shopping container d-flex">
        <div class="shopping-list">
            <table class="shopping-table">
                <thead class="products-header">
                    <tr>
                        <th>Product</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Subtotal</th>
                    </tr>
                </thead>
                <hr class="header-border">
                <tbody>
                    <tr>
                        <td>
                            <input type="image" img src="images/Close icon.png" class="img-fluid" alt="">
                        </td>
                        <td></td>
                        <td>
                            <input type="button" value="+" class="plusbutton">
                            <input type="text" id="numOfItems" class="numOfItems" maxlength="3" size="3">
                            <input type="button" value="-" class="minusbutton">
                        </td>
                        <td></td>
                    </tr>
                    <hr class="header-border">
                </tbody>
            </table>

            <div class="d-flex">
                <div class="text d-flex align-items-end">
                    <div class="coupon-code">
                        <div class="have-code">
                            <p>If you have a coupon code, please apply it below.</p>
                        </div>
                        <div class="coupon-input d-flex">
                            <input type="text" class="coupon-text" placeholder="Coupon code">
                            <a class="btn btn-default container-fluid align-items-end" href="#">
                                <div class="apply-coupon-btn">
                                    <p class="button-text">Apply Coupon</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="d-flex align-items-center">
                    <a class="btn btn-default" href="#">
                        <div class="update-cart-btn">
                            <p class="update-cart-text">UPDATE CART</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="shopping-total ms-4">
            <div class="shopping-total-header">
                <p>CART TOTALS</p>
            </div>

            <div class="subtotal d-flex align-items-end">
                <div class="subtotal-header">
                    <p>Subtotal</p>
                </div>
                <div class="subtotal-value ms-2">
                    <p>$910.00</p>
                </div>
            </div>

            <hr class="subtotal-divider">

            <div class="shipping d-flex container-fluid">
                <div class="shipping-header">
                    <p>Shipping</p>
                </div>
                <div class="shipping-data container-fluid">
                    <div class="flatrate d-flex">
                        <div class="flatrate-header">
                            <p>Flatrate: </p>
                        </div>
                        <div class="flatrate-value ms-2 me-2">
                            <p>$20.00</p>
                        </div>
                        <input type="radio" id="flatrate" value="ship-flatrate" name="shipping">
                    </div>

                    <div class="freeshipping d-flex">
                        <p>Free shipping</p>
                        <div class="me-2"></div>
                        <input type="radio" id="freeshipping" value="ship-free" name="shipping">
                    </div>

                    <div class="localpickup d-flex">
                        <div class="localpickup-header">
                            <p>Local pickup: </p>
                        </div>
                        <div class="localpickup-value ms-2 me-2">
                            <p>$25.00</p>
                        </div>
                        <input type="radio" id="localpickup" value="ship-localpickup" name="shipping">
                    </div>

                    <div>
                        <a class="btn btn-default" href="#">
                            <div class="shipping-to-AL d-flex">
                                <div class="shipping-to-AL-1">
                                    <p>Shipping to</p>
                                </div>
                                <div class="shipping-to-AL-2 ms-2">
                                    <p>AL</p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <a class="btn btn-default" href="#">
                        <div class="change-address-btn">
                            <p class="change-address-text">Change address</p>
                        </div>
                    </a>
                </div>

            </div>

            <hr class="subtotal-divider">

            <div class="total d-flex">
                <div class="total-header">
                    <p>Total</p>
                </div>
                <div class="total-value ms-2">
                    <p>$910.00</p>
                </div>
            </div>

            <div class="d-flex align-items-center">
                <a class="btn btn-default" href="#">
                    <div class="proceed-to-checkout-btn">
                        <p class="proceed-to-checkout-text">PROCEED TO CHECKOUT</p>
                    </div>
                </a>
            </div>

        </div>

    </div>
</div>


    @code {

    }
