<div class="subscribe">
    <div class="items mx-auto d-flex align-items-center">
        <div class="texts ">
            <div class="subscribe-tittle-text">
                Subscribe <span style="color: #20D3C2;">Now</span>
            </div>
            <div class="subscribe-text">
                <p>
                    Signup for awesome news about our new products and
                    know our special discounts on products.
                </p>
            </div>
            <div class="mail-input">
                <form>
                    <input type="email" placeholder="Enter email address">
                    <input class="input-btn shadow" type="submit">
                </form>
            </div>

        </div>
        <div class="image"></div>
    </div>
</div>
@code {

}
